<% content_for :top_section do %>
  <h2 class="mb-1"><%= t('dashboard.candidates') %></h2>
  <p class="small text-muted mb-0"><%= t('dashboard.users') %> / <strong><%= t('dashboard.candidates') %></strong></p>
<% end %>

<%= javascript_tag do %>
  var adminsCandidatesConfig = function() {
    return (
      <%= {
        has_masquerade_permissions: policy(%i[admins masquerade]).masquerade?
      }.to_json.html_safe %>
    )
  }
<% end %>

<%= content_tag(:div, '', id: 'admins-candidates-container', data: {
  controller: 'admins_candidates'
}) %>

