<section class="authentication-page row g-0 vh-100">
  <div class="left-section col-10 col-sm-4 offset-1 py-4 d-flex align-items-center">
    <div class="w-100">
      <div class="text-center mb-5">
        <%= link_to home_path do %>
          <%= image_tag 'logos/primary.png', class: 'mw-100' %>
        <% end %>
      </div>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: false }) do |f| %>
        <div class="btn-group mb-4 w-100 bg-primary rounded-pill" role="group" aria-label="Basic radio toggle button group">
          <%= link_to "Candidate",
                      new_candidate_session_path,
                      class: "type-selector candidate #{resource_name.to_s == 'candidate' ? 'selected text-light' : 'text-primary-dark border border-1 border-primary-dark' } btn border-end-0 rounded-start-pill"
          %>
          <%= link_to "Recruiter",
                      new_recruiter_session_path,
                      class: "type-selector recruiter #{resource_name.to_s == 'recruiter' ? 'selected text-light' : 'text-primary-dark border border-1 border-primary-dark' } btn border-start-0 rounded-end-pill"
          %>
        </div>

        <div class="mb-4">
          <%= f.email_field :email, autocomplete: "off", class: "form-control rounded-pill bg-light", placeholder: "Email" %>
        </div>

        <div class="mb-1">
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control rounded-pill bg-light", placeholder: "Password" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="form-check mb-0">
            <%= f.check_box :remember_me, class:"form-check-input bg-light" %>
            <%= f.label :remember_me, class: "form-check-label" %>
          </div>
        <% end %>

        <div class="mt-4 text-center">
          <%= f.submit "Sign In", class: "btn-submit btn btn-primary border-0 shadow mb-1 w-100 text-light rounded-pill" %>

          <% if devise_mapping.recoverable? %>
            <%= link_to "Forgot your password?", new_password_path(resource_name), class: "text-decoration-none text-muted" %>
          <% end %>
        </div>

        <% if devise_mapping.registerable? %>
          <div class="text-center d-md-flex justify-content-center mt-4">
            <p class="mb-0 me-2">Don't have an account?</p>

            <%= link_to "Sign Up", new_registration_path(resource_name), class: "text-primary-dark" %>
          </div>
        <% end %>
      <% end %>

      <div class="align-items-center my-4 row g-0 mx-0">
        <hr class="col-5 my-0">
        <p class="text-center col-2 my-0">Or</p>
        <hr class="col-5 my-0">
      </div>

      <%= render "devise/shared/social_media_links" %>

      <div class="align-items-center my-4 row g-0 mx-0">
        <hr class="col-5 my-0">
        <p class="text-center col-2 my-0">Or</p>
        <hr class="col-5 my-0">
      </div>

      <div class="text-center d-md-flex justify-content-center mt-4">
        <%= link_to "Admin Sign In", new_admin_session_path, class: "text-primary-dark" %>
      </div>
    </div>
  </div>

  <%= render "devise/shared/right_section" %>
</section>
