<% content_for :top_section do %>
  <h2 class="mb-1">Send Invitation</h2>
  <p class="small text-muted mb-0">Invitations / <strong>Send Invitation</strong></p>
<% end %>

<%# I was having issue when submiting this form once the admin had passed the invitations limit %>
<%# I added data: { turbo: false } following the suggestion https://github.com/heartcombo/devise/issues/5439#issuecomment-1021131680 %>
<div class="authentication-page row">
  <%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post, class: 'col-12' }, data: { turbo: false }) do |f| %>
    <div class="mb-4">
      <%= f.email_field :email, autocomplete: "off", class: "form-control rounded-pill bg-light", placeholder: "Email" %>
    </div>

    <div class="mb-4">
      <%= f.select :role, options_for_select(Admin.roles.map { |key, value| [key.titleize, key] }), { include_blank: "Select Role" }, { class: "form-select rounded-pill bg-light", required: true } %>
    </div>

    <div class="mt-4 text-center">
      <%= f.submit "Send Invitation", class: "btn-submit btn btn-primary border-0 shadow w-100 text-light rounded-pill" %>
    </div>
  <% end %>

  <div class="mt-4 text-center">
    <%= button_to "Resend Pending Invitations", resend_admins_invitations_path, class: "btn-submit btn btn-primary border-0 shadow w-100 text-light rounded-pill", type: "button", data: { turbo: false } %>
  </div>
</div>
