<% content_for :top_section do %>
  <h2 class="mb-1"><%= t('dashboard.recruiters') %></h2>
  <p class="small text-muted mb-0"><%= t('dashboard.users') %> / <strong><%= t('dashboard.recruiters') %></strong></p>
<% end %>

<%= javascript_tag do %>
  var adminsRecruitersConfig = function() {
    return (
      <%= {
        has_masquerade_permissions: policy([:admins, :masquerade]).masquerade?
      }.to_json.html_safe %>
    )
  }
<% end %>

<%= content_tag(:div, "", id: "admins-recruiters-container", data: {
  controller: "admins_recruiters"
}) %>

