<%# TODO: Move the whole dashboard to a React component %>
<%# TODO: This will allow us to use React Router for the all the pages %>
<%# TODO: We can also use React Router for the sidebar and navbar %>

<div id="dashboard-container" class="bg-primary">
  <div class="sticky-top">
    <% if candidate_masquerade? || recruiter_masquerade? %>
      <div id="back-masquerade" class="bg-danger py-1 text-center sticky-top">
        <%= link_to t('dashboard.return_to_admin_dashboard'), back_masquerade_path(user), class: 'bg-light btn px-2 py-0 text-danger text-decoration-none' %>
      </div>
    <% end %>
  </div>


  <div class="d-flex min-vh-100">
    <%= render 'layouts/shared/sidebar_container', user: user %>

    <div id="dashboard-content" class="w-100">
      <%= render 'layouts/shared/navbar', user: user %>

      <main id="dashboard-main-content" class="py-3 bg-light">
        <div class="container-fluid">
          <div class="bg-white mb-3 p-3 shadow rounded-1">
            <%= yield :top_section %>
          </div>

          <div class="bg-white p-3 shadow rounded-1">
            <%= yield %>
          </div>
        </div>
      </main>

      <%= render 'layouts/shared/footer' %>
    </div>
  </div>
</div>
