<% content_for :top_section do %>
  <h2 class="mb-1"><%= t('dashboard.settings') %></h2>
  <p class="small text-muted mb-0"><strong><%= t('dashboard.settings') %></strong></p>
<% end %>

<div class="authentication-page">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, data: { turbo: true }) do |f| %>
    <div class="mb-4">
      <%= f.select :preferred_language,
        options_for_select(
          Admin.preferred_languages.map { |key, _| [t("general.languages.#{key}"), key] },
          resource.preferred_language
        ),
        { include_blank: t('devise.registrations.edit.select_language') },
        { class: "form-select rounded-pill bg-light", required: true }
      %>
    </div>

    <div class="mb-4">
      <%= f.password_field :password,
        autocomplete: "new-password",
        class: "form-control rounded-pill bg-light",
        placeholder: "#{t('devise.passwords.edit.new_password')} #{t('devise.shared.minimum_password_length', count: @minimum_password_length)}"
      %>
    </div>

    <div class="mb-4">
      <%= f.password_field :password_confirmation,
        autocomplete: "new-password",
        class: "form-control rounded-pill bg-light",
        placeholder: t('devise.passwords.edit.confirm_new_password')
      %>
    </div>

    <div class="mb-4">
      <%= f.password_field :current_password,
        autocomplete: "current-password",
        class: "form-control rounded-pill bg-light",
        placeholder: t('devise.passwords.edit.current_password')
      %>
      <p class="small">* <%= t('devise.passwords.edit.current_password_required') %></p>
    </div>

    <div class="mt-4 text-center">
      <%= f.submit t('devise.registrations.edit.update'), class: "btn-submit btn btn-primary border-0 shadow mb-1 w-100 text-light rounded-pill" %>

      <div class="text-decoration-none text-muted">
        <%= t('devise.registrations.edit.unhappy') %>
        <%= link_to t('devise.registrations.edit.cancel_my_account'), registration_path(resource_name), data: { turbo: true, turbo_method: :delete, turbo_confirm: t('devise.registrations.edit.are_you_sure') }, class: "text-danger" %>
      </div>
    </div>
  <% end %>
</div>