<li>
  <a href="/" class="sidebar-link text-light px-4 py-2 collapsed" data-bs-toggle="collapse" data-bs-target="#users-dropdown" aria-expanded="false" aria-controls="users-dropdown">
    <i class="bi bi-person-fill pe-2 pe-2"></i>
    <%= t('dashboard.users') %>
  </a>

  <ul id="users-dropdown" class="sidebar-dropdown list-unstyled collapse <%= active_sidebar_option?({ 'admins/admins' => ['index'], 'admins/candidates' => ['index'], 'admins/recruiters' => ['index'] }) ? 'show' : '' %>" data-bs-parent="#sidebar">
    <li>
      <%= link_to t('dashboard.admins'), admins_admins_path, class: "sidebar-link text-light px-4 py-2 #{active_sidebar_option?({ 'admins/admins' => ['index'] }) ? 'bg-primary-dark' : ''}" %>
    </li>
    <li>
      <%= link_to t('dashboard.candidates'), admins_candidates_path, class: "sidebar-link text-light px-4 py-2 #{active_sidebar_option?({ 'admins/candidates' => ['index'] }) ? 'bg-primary-dark' : ''}" %>
    </li>
    <li>
      <%= link_to t('dashboard.recruiters'), admins_recruiters_path, class: "sidebar-link text-light px-4 py-2 #{active_sidebar_option?({ 'admins/recruiters' => ['index'] }) ? 'bg-primary-dark' : ''}" %>
    </li>
  </ul>
</li>

<% if policy([:admins, :invitation]).new? %>
  <li>
    <a href="/" class="sidebar-link text-light px-4 py-2 collapsed" data-bs-toggle="collapse" data-bs-target="#invitations-dropdown" aria-expanded="false" aria-controls="invitations-dropdown">
      <i class="bi bi-person-fill-add pe-2 pe-2"></i>
      <%= t('dashboard.invitations') %>
    </a>

    <ul id="invitations-dropdown" class="sidebar-dropdown list-unstyled collapse <%= active_sidebar_option?({ 'admins/invitations' => ['new'], 'admins/invitation_requests' => ['index'] }) ? 'show' : '' %>" data-bs-parent="#sidebar">
      <li>
        <%= link_to t('dashboard.send_invitation'), new_admin_invitation_path, class: "sidebar-link text-light px-4 py-2 #{active_sidebar_option?({ 'admins/invitations' => ['new'] }) ? 'bg-primary-dark' : ''}" %>
      </li>
      <li>
        <%= link_to t('dashboard.requests'), admins_invitation_requests_path, class: "sidebar-link text-light px-4 py-2 #{active_sidebar_option?({ 'admins/invitation_requests' => ['index'] }) ? 'bg-primary-dark' : ''}" %>
      </li>
    </ul>
  </li>
<% end %>

<li>
  <%= link_to admins_payments_path, class: "sidebar-link text-light px-4 py-2 #{active_sidebar_option?({ 'admins/payments' => ['index'] }) ? 'bg-primary-dark' : ''}" do %>
    <i class="bi bi-credit-card pe-2"></i>
    <%= t('dashboard.payments') %>
  <% end %>
</li>

<li>
  <%= link_to edit_admin_registration_path, class: "sidebar-link text-light px-4 py-2 #{active_sidebar_option?({ 'admins/registrations' => ['edit'] }) ? 'bg-primary-dark' : ''}" do %>
    <i class="bi bi-gear-fill pe-2"></i>
    <%= t('dashboard.settings') %>
  <% end %>
</li>


<li>
  <%= button_to destroy_admin_session_path, class: 'sidebar-link text-light px-4 py-2 bg-transparent border-0', method: :delete do %>
    <i class="bi bi-box-arrow-right pe-2"></i>
    <%= t('dashboard.sign_out') %>
  </a>
<% end %>
