<% content_for :top_section do %>
  <h2 class="mb-1"><%= t('dashboard.settings') %></h2>
  <p class="small text-muted mb-0"><%= t('dashboard.settings') %> / <strong><%= t('dashboard.enable_2fa') %></strong></p>
<% end %>

<%= link_to t('general.back'), edit_admin_registration_path, class: 'border-0 btn m-0 mb-3 p-0 text-decoration-underline text-primary' %>

<p class="mb-3"><%= t('admins.enable_otp_show_qr.scan_qr_code') %></p>

<div class="mb-3 text-center">
  <%= raw RQRCode::QRCode.new(
        @provisioning_uri,
        :svg,
        level: :l,
        unit: 2
      ).as_svg(module_size: 5) %>
</div>

<%= form_tag admins_enable_otp_verify_path, method: :post do %>
  <div class="mb-3">
    <%= text_field_tag :otp_attempt, nil, class: 'form-control rounded-pill bg-light', placeholder: t('admins.enable_otp_show_qr.enter_one_time_password') %>
  </div>

  <%= submit_tag t('admins.enable_otp_show_qr.verify_and_enable_2fa'), class: 'btn-submit btn btn-primary border-0 shadow mb-1 w-100 text-light rounded-pill' %>
<% end %>
