<section class="authentication-page row g-0 vh-100">
  <div class="left-section col-10 col-sm-4 offset-1 py-4 d-flex align-items-center">
    <div class="w-100">
      <div class="text-center mb-5">
        <%= link_to home_path do %>
          <img src="https://urseseguros.com.uy/content/urse/images/logo_02.png" class="mw-100">
        <% end %>
      </div>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }, data: { turbo: false }) do |f| %>
        <%= f.hidden_field :reset_password_token %>

        <div class="mb-4">
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control rounded-pill bg-light", placeholder: "Password #{@minimum_password_length ? "(#{@minimum_password_length}" : ''} characters minimum)" %>
        </div>

        <div>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control rounded-pill bg-light", placeholder: "Password confirmation" %>
        </div>


        <div class="mt-4 text-center">
          <%= f.submit "Reset Password", class: "btn-submit btn btn-primary border-0 shadow w-100 text-light rounded-pill" %>
        </div>

        <div class="text-center d-md-flex justify-content-center mt-2">
          <%= link_to "Sign In", new_session_path(resource_name), class: "text-primary-dark" %>
        </div>
      <% end %>
    </div>
  </div>

  <%= render "devise/shared/right_section" %>
</section>
