<li>
  <%= link_to recruiters_job_postings_path, class: "sidebar-link text-light px-4 py-2 #{active_sidebar_option?({ 'recruiters/job_postings' => [] }) ? "bg-primary-dark" : ''}", data: { turbo: "false" } do %>
    <i class="bi bi-collection pe-2"></i>
    <%= t('dashboard.job_postings') %>
  <% end %>
</li>

<li>
  <%= link_to recruiters_candidates_path, class: "sidebar-link text-light px-4 py-2 #{active_sidebar_option?({ 'recruiters/candidates' => [] }) ? "bg-primary-dark" : ''}", data: { turbo: "false" } do %>
    <i class="bi bi-person-fill pe-2"></i>
    <%= t('dashboard.candidates') %>
  <% end %>
</li>

<li>
  <%= link_to edit_recruiter_registration_path, class: "sidebar-link text-light px-4 py-2 #{active_sidebar_option?({ 'recruiters/registrations' => ['edit'] }) ? "bg-primary-dark" : ''}" do %>
    <i class="bi bi-gear-fill pe-2"></i>
    <%= t('dashboard.settings') %>
  <% end %>
</li>

<li>
  <%= button_to destroy_recruiter_session_path, class: "sidebar-link text-light px-4 py-2 bg-transparent border-0", method: :delete do %>
    <i class="bi bi-box-arrow-right pe-2"></i>
    <%= t('dashboard.sign_out') %>
  <% end %>
</li>
