<!DOCTYPE html>
<html>
  <%= render "layouts/shared/head" %>

  <body>
    <%= render "layouts/shared/flash" %>

    <% if defined? resource %>
      <%= render "devise/shared/error_messages", resource: resource %>
    <% end %>

    <% if show_dashboard_layout %>
      <%= render "layouts/shared/dashboard" %>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
